﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airmaster Enterprise</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/libs/core-js/client/shim.min.js"></script>
    <script src="~/libs/zone.js/dist/zone.js"></script>
    <script src="~/libs/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->

    <script src="~/systemjs.config.js"></script>
    @*<script src="~/Areas/AEQuotationTool/Scripts/App/systemjs.config.js"></script>*@
    <link rel="stylesheet" href="~/node_modules/@("@progress")/kendo-theme-default/dist/all.css" />
    <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
    <script>
        System.import('../Scripts/main.js').catch(function (err) {
            console.error(err);
        });
    </script>

    <base href="/">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home", new {Area="", @class = "navbar-brand"})">

                <img src="@Url.Content("~/Content/Images/Airmaster-Header-Logo.png")" alt="Airmaster" title="Airmaster" style="height: 50px; width: auto; display: inline-block; top: 0px;">
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <span class="navbar-brand">Airmaster Enterprise</span>
        </div>
    </div>


    <div class=" area-layout">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Airmaster</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>