﻿body {
    font-size: 12px;
    color: #333;
    font-family: monospace !important;
}

.card-block {
    background-color: white;
}

#tbGeneralQuoteInfo {
    padding: 1%;
}
.dropdownTemplateTable {
    padding:8px;
}
table#sections-grid thead tr:nth-child(2) td {
    color: #ffffff;
    background-color: #686152;
}
div#divQuoteStatus {
    margin-bottom: 50px;
    padding: 5px;
}
.row.no-gutter.create-quote-section {
    background-image: linear-gradient(rgba(221, 221, 221, 0.28),rgba(255, 255, 255, 0.27));
}

.quoteList {
    background-image: linear-gradient(rgba(221, 221, 221, 0.28),rgba(255, 255, 255, 0.27));
}
.row.childGrid {
    background-color: white;
    border: 1px solid grey;
    margin: 1px;
    border-radius: 5px;
    padding: 5px;
}

.short {
    width: auto !important;
    padding: 0px 25px 0px 5px !important;
    margin: 2px 0px !important;
    max-width: 100px !important;
}
.divQuoteStatus {
    display: inline;
    margin: 0 1em 0 1em;
    width: 30%;
}
.childDivStatus {
    float: left;
    margin-right: 2px;
    padding: 5px;
    border-right: 1px solid #ff6558;
    font-size: 13px;
}
    .childDivStatus:hover {
        border-right: 2px solid #ff6558;
        background-color: rgba(211, 211, 211, 0.37);
       cursor:pointer;
    }
table.table-striped.priceSummary tbody tr:hover {
    border-bottom: 2px solid rgba(85, 106, 120, 0.07);
   
}
table.table-striped.priceSummary tbody tr {
    font-size: inherit;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 105, 88, 0.08);
}
table.priceSummary tbody tr td:nth-child(2) {
    min-width: 100px;
    font-size: large;
    color: darkgrey;
    text-align: right;
    cursor: pointer;
}
table.priceSummary tbody tr td:nth-child(2):hover {
    font-size: x-large;
}

ul#menuBarQuotePage li > a.is-active {
    text-decoration: underline;
}
/***************CKEditor Customization******************/
.cke_313 .cke_toolgroup {
    background-image: linear-gradient(rgb(228, 228, 199), rgb(107, 122, 229)) !important;
    border-color: rgb(137, 0, 0) !important;
}
/*******************End *****************************/

/**************Kendo Customization*************************/
.k-list {
    white-space: nowrap!important;
}

table.tblGeneralQuoteInfo tr td .k-widget {
    width: 20em !important;
}
#quote-section-tabset .tab-content {
    min-height: 300px !important;
    height: 300px !important;
}

kendo-dropdownlist.generalDropDown {
    width: 20em !important;
}

.k-grid-edit-row > td > .k-textbox {
    margin-left: 0px !important;
}

div.k-popup .k-item {
    font: 11px/1.8em normal Arial, Helvetica, sans-serif;
}

.k-grid th {
    padding: 5px !important;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    font-weight: inherit;
    text-align: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-form .k-form-field > input {
    width: 100%;
    font-weight: normal;
}

.k-widget {
    font-size: 11px !important;
}

.k-form, .k-form-inline {
    font-size: 11px !important;
    line-height: 1.4285714286;
    padding: 5px !important;
}

span.k-input {
    font-size: 11px;
}

.k-grid-edit-row > td > .k-widget {
    margin-left: 1px !important;
}

.k-button {
    font-size: inherit !important;
}

.k-widget .k-grid .k-input {
    font-size: 11px !important;
}

kendo-grid-toolbar.k-header.k-grid-toolbar {
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

.k-grid-header {
    font-weight: 600;
}

kendo-grid.k-widget.k-grid {
    font-size: 11px !important;
    margin-bottom: 20px;
}

kendo-pager.k-pager-wrap.k-grid-pager.k-widget {
    height: 30px !important;
}

.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    font-size: 11px !important;
    font-weight: normal !important;
}

.k-dropdown .k-dropdown-wrap {
    color: #333333;
    background-color: rgba(135, 206, 235, 0.24) !important;
    border-color: rgba(0,0,0,.15) !important;
     background-image: none !important; 
}
}
/**********end*******************************************/

.nav > li > a {
    padding: 6px 11px !important;
}

.ng2-flex-table__body {
    height: 1000px !important;
}

.quoteSectionChild {
    margin-top: 20px;
}
/*********Menu Bar of create quote page*/
nav#menu {
    background-color: #021f61;
    border: none;
    min-height: 25px !important;
    margin-bottom: 20px;
}

ul#menuBarQuotePage li > a {
    color: white;
    padding: 5px 15px;
}

ngb-tabset#quote-section-tabset ul li > a {
    padding: 5px 15px !important;
    border-right: 1px solid #d1eff5;
}

#quote-section-tabset ul.nav.nav-pills.justify-content-center {
    border-top: 1px solid #d1eff5;
    background-color: #428bca;
}

ul#menuBarQuotePage li > a:hover {
    background-color: #5f89ad;
    color: white;
}
/**********end of menubar********/
.navbar.navbar-inverse.navbar-fixed-top {
    max-height: 40px !important;
}

.navbar-inverse {
    background-color: #eeeeee;
    border-color: #ffffff;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #999999;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

.nav-tabs > li > a {
    border: 1px solid #bce8f1;
    color: black;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

#create-quote-tabset ul li a.nav-link.active {
    /*background-color: #676051;
    color: white;*/
    color: #fff;
    background-color: #ff6358;
    border-color: #ff6358;
    background-image: linear-gradient(rgba(255,138,88,0),rgba(255,138,88,.2));
}

.area-layout {
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    font-size: 11px !important;
}

table#sections-grid tr td {
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.navbar-inverse .navbar-brand {
    color: #006db7;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.tbGeneralQuoteSection {
    width: 60%;
}

#create-quote-tabset .tab-content {
    border: 1px solid #bce8f1;
    border-top: none;
    min-height: 500px ;
}

.nav-link .active {
    background: darkslateblue;
    color: white;
}

#tabContainer {
    height: auto;
    width: 100%;
}

.tblGeneralQuoteInfo .form-group {
    margin-bottom: 2px;
    margin-left: 2px;
}
/*********animation effects*/
/**************end animation effects********************8*/
.form-control {
    margin-bottom: 5px !important;
    display: block;
}

.commonInfoSection {
    width: 30%;
    background: #d6e9c6;
}

table#tblGenerelQuoteInfo tr td {
    vertical-align: bottom;
}

table#tblForcastQuoteInfo tr td {
    vertical-align: bottom;
}

.form-control {
    font-size: inherit;
    height: auto !important;
    padding: 5px !important;
}

input#QuoteID {
    font-size: 11px;
}

.menu-div {
    width: 100%;
    background-color: #415795;
    clear: both;
    display: block;
    overflow: hidden;
    padding-top: 2px;
    border-right: solid 1px #ffffff;
}

.no-pad {
    font-size: 9px !important;
    padding: 0px 5px !important;
}

table.tblGeneralQuoteInfo {
    width: 100%;
}

.collapsedSpan {
    float: right;
    display: block;
    width: 100%;
    text-align: left;
    color: #1d4a84;
    font-size: 14px !important;
    font-weight: 600;
}


.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 11px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1!important;
}

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
