﻿
<div class="row no-gutter create-quote-section">
    <h4>Create Quote</h4>
    <div class="col-lg-9" style="border-right:1px dotted;">
        <ngb-tabset id="create-quote-tabset" justify="center" destroyOnHide="false" class="nav-justified">
            <ngb-tab title="General">
                <ng-template ngbTabContent>
                    <div id="tbGeneralQuoteInfo" class="animated fadeIn">                      
                        <quote-general-info-input  [quote]="quote"  (notify)='onNotify($event)' >Loading....</quote-general-info-input>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Details"  >
                <ng-template ngbTabContent>
                    <div id="tbSectionQuoteInfo" class="animated fadeIn">
                        <quote-section  [quote]="quote"  (notify)='onNotify($event)' > Loading Sections...</quote-section>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Introduction">
                <ng-template ngbTabContent>
                    <div id="tabContainer" class="animated fadeIn">
                        <ckeditor [(ngModel)]="quote.Introduction"
                                  [config]="{height:'400px', toolbar : 'Basic',disableNativeSpellChecker:true,scayt_autoStartup : true, filebrowserImageUploadUrl: '~/NodeModules'}"
                                  (change)="onChange($event)"
                                  (ready)="onReady($event)"
                                  (focus)="onFocus($event)"
                                  (blur)="onBlur($event)"                                  
                                  debounce="500">
                        </ckeditor>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Scope Of Work">
                <ng-template ngbTabContent>
                    <div id="tabContainer" class="animated fadeIn">
                        <ckeditor [(ngModel)]="quote.SOW"
                                    [config]="{ height:'400px',toolbar : 'Basic',disableNativeSpellChecker:true,scayt_autoStartup : true, filebrowserImageUploadUrl: '~/NodeModules'}"
                                  (change)="onChange($event)"
                                  (ready)="onReady($event)"
                                  (focus)="onFocus($event)"
                                  (blur)="onBlur($event)"
                                  debounce="500">
                        </ckeditor>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Exclusion List">
                <ng-template ngbTabContent>
                    <div id="tabContainer" class="animated fadeIn">
                        <ckeditor [(ngModel)]="quote.Exclusions"
                                  [config]="{ height:'400px', toolbar : 'Basic',disableNativeSpellChecker:true,scayt_autoStartup : true, filebrowserImageUploadUrl: '~/NodeModules'}"
                                  (change)="onChange($event)"
                                  (ready)="onReady($event)"
                                  (focus)="onFocus($event)"
                                  (blur)="onBlur($event)"
                                  debounce="500">
                        </ckeditor>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Attachments">
                <ng-template ngbTabContent>
                    <div id="tabContainer" class="animated fadeIn">
                        <form>

                            <div class="form-group">
                                <label for="name">Title</label>
                                <input type="text" class="form-control" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="alterEgo">Description</label>
                                <textarea class="form-control" cols="10" rows="3"></textarea>

                            </div>
                            <br />
                            <input class="form-control" type="file" />
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="col-lg-3">
        <div id="divQuoteStatus">
            <div class="childDivStatus">{{quoteReference}}</div>
            <div class="childDivStatus">Draft*</div>
            <div class="childDivStatus">TestUser</div>
        </div>
       
        <quote-summary [quote]="quote"></quote-summary>
        
    </div>
</div>

