﻿<nav id="menu" class="navbar navbar-inverse ">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav" id="menuBarQuotePage">
            <li *ngFor="let menu of menuViewModel.quotationMenus">
                <a   routerLink="{{menu.MenuUrl}}" [routerLinkActive]="['is-active']">{{menu.MenuText}}</a>             
            </li>           
        </ul>
       
    </div>
</nav>
<div class="col-md-12">
    <router-outlet></router-outlet>
</div>
