﻿
    <kendo-grid id="sectionGrid"
                [data]="quote.Sections"
                [pageSize]="pageSize"
                [skip]="skip"
                [selectable]="true"
                [sortable]="true"
                [sort]="sort"
                [pageable]="true"
                [height]="300"
                (detailExpand)="onDetailExpand($event)"
                (dataStateChange)="dataStateChange($event)"
                (selectionChange)="onSelect($event)">
        <ng-template kendoGridToolbarTemplate position="top">
            <button (click)="AddSection()" class="k-button k-primary pull-left">Add Section</button>
           
        </ng-template>
        <kendo-grid-column field="QuoteSectionID" title="SEQ" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="Title" title="Section Title" width="140">
        </kendo-grid-column>
        <kendo-grid-column field="PreferredOption" title="Preferred" width="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span  >{{dataItem.PreferredOption?'Yes':'No'}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Equipment" title="Equipment" width="100" filter="numeric" format="{0:c}">
        </kendo-grid-column>
        <kendo-grid-column field="PriceLabour" title="Price Labour" width="70">
        </kendo-grid-column>
        <kendo-grid-column field="PriceMaterial" title="Price Material" width="70">
        </kendo-grid-column>
        <kendo-grid-column field="PriceAdditional" title="Price Additional" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="PriceTotal_Ex_GST" title="Price Total(Ex GST)" width="90" filter="numeric" format="{0:c}">
        </kendo-grid-column>
        <kendo-grid-column field="GST_Total" title="GST Total" width="50">
        </kendo-grid-column>
        <kendo-grid-column field="PriceTotal_Inc_GST" title="Price Total(Inc GST)" width="90">
        </kendo-grid-column>
        <kendo-grid-column field="MarginActualPercentage" title="Margin Actual(%)" width="70">
        </kendo-grid-column>
        <kendo-grid-column field="MarginActualAmount" title="Margin Actual($)" width="100" filter="numeric" format="{0:c}">
        </kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem, let rowIndex = rowIndex; ">
            <section-general-info [section]="dataItem" (notify)='onNotify($event)'></section-general-info>
        </div>
    </kendo-grid>
    <ngb-tabset id="quote-section-tabset"  justify="center" destroyOnHide="false" class="nav-justified">
        <ngb-tab title="Labour">
            <ng-template ngbTabContent>
                <div id="tabContainer" class="animated fadeIn">
                    <labour-sub-section-grid [selectedSection]="selectedSectionRow"  (notify)='onNotify($event)'>Loading sub grid</labour-sub-section-grid>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Material">
            <ng-template ngbTabContent>
                <div id="tbSectionQuoteInfo" class="animated fadeIn">
                    <material-sub-section-grid [selectedSectionMtrl]="selectedSectionRow" (notify)='onNotify($event)'>Loading sub grid</material-sub-section-grid>

                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Equipment">
            <ng-template ngbTabContent>
                <div id="tabContainer" class="animated fadeIn">
                    <equipment-sub-section-grid [selectedSectionEqp]="selectedSectionRow" (notify)='onNotify($event)'>Loading sub grid</equipment-sub-section-grid>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="SubContractors">
            <ng-template ngbTabContent>
                <div id="tabContainer" class="animated fadeIn">
                    <subcontracor-sub-section-grid [selectedSectionSubContr]="selectedSectionRow" (notify)='onNotify($event)'>Loading sub grid</subcontracor-sub-section-grid>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Others">
            <ng-template ngbTabContent>
                <div id="tabContainer" class="animated fadeIn">
                    <others-sub-section-grid [selectedSectionOthers]="selectedSectionRow" (notify)='onNotify($event)'>Loading sub grid</others-sub-section-grid>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>





