﻿<form (ngSubmit)="submitted=true;onQuoteGeneralInfoSubmit($event)" #createQuoteForm="ngForm" class="k-form">
    <span *ngIf="submitted">form submitted</span>

    <table class="tblGeneralQuoteInfo">
        <tr>
            <td>
                <div class="form-group">
                    <label for="power">Customer<span style="color:red">*</span></label>
                    <kendo-combobox [data]="customerData "
                                     [value]="quote.CustomerID"
                                    [filterable]="true"
                                    [valueField]="'CustomerID'"
                                    [textField]="'Name'"
                                    [popupSettings]="{ width: 'auto' }"
                                    (filterChange)="onCustomerFilterChange($event)"
                                    (valueChange)="onCustomerChange($event)"
                                   [valuePrimitive]="true" 
                                    name="customers">
                        <ng-template kendoAutoCompleteItemTemplate let-dataItem> 
                            <div class="chip">
                                <img src="../../../../../Content/Images/No_image_available.jpg" alt="Person" width="30" height="30" />
                                {{dataItem.Code}} - {{dataItem.Name}}
                            </div>  
                        </ng-template>
                    </kendo-combobox>
                </div>
            </td>
            <td>
                <label class="k-form-field">
                    <span>Location<span style="color:red">*</span> </span>
                    <kendo-dropdownlist [(ngModel)]="quote.LocationID"
                                        name="Location"
                                        [data]="locations"
                                        [disabled]="isDisabledLocations"
                                        [defaultItem]="defaultLocation"
                                        [textField]="'Name'"
                                        [valueField]="'LocationID'"
                                        (valueChange)="onLocationChange($event)"
                                        [valuePrimitive]="true" required>
                    </kendo-dropdownlist>
                </label>

            </td>
            <td>
                <label class="k-form-field">
                    <span>Contact<span style="color:red">*</span> </span>
                    <kendo-combobox
                                [data]="contacts"
                                [value]="quote.ContactID"    
                                (valueChange)="onContactChange($event)"
                                [valueField]="'ContactID'"
                                [textField]="'FirstName'"
                                [popupSettings]="{ width: 'auto' }"
                                [valuePrimitive]="true"
                                    name="contacts">
                        <ng-template kendoAutoCompleteItemTemplate let-dataItem>
                            <div class="chip">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><label>Name:</label></td>
                                            <td>{{dataItem.FirstName}} - {{dataItem.LastName}}</td>
                                            <td><label>Email:</label></td>
                                            <td colspan="2">{{dataItem.Email}} </td>
                                        </tr>
                                    </tbody>
                                </table>      
                            </div>
                        </ng-template>
                    </kendo-combobox>                  
                    
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label class="k-form-field">
                    <span>Subject<span style="color:red">*</span></span>
                    <textarea class="form-control" id="Subject" rows="1" cols="5"
                              [(ngModel)]="quote.Subject" name="Subject"></textarea>
                </label>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label class="k-form-field">
                    <span>Description<span style="color:red">*</span> </span>
                    <textarea class="form-control" id="alterEgo" rows="2" cols="50"
                              [(ngModel)]="quote.Description" name="Description"></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="k-form-field">
                    <span>Work State<span style="color:red">*</span> </span>
                    <kendo-dropdownlist [(ngModel)]="quote.WorkStateCd"
                                        name="WorkState"
                                        [data]="states"
                                        [textField]="'Code'"
                                        [valueField]="'CodeID'"
                                        (valueChange)="onWorkStateChange($event)"
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </label>
            </td>
            <td>
                <label class="k-form-field">
                    <span>Type<span style="color:red">*</span></span>

                    <kendo-dropdownlist [(ngModel)]="quote.QuoteTypeCd"
                                        name="type"
                                        [data]="quoteTypes"
                                        [textField]="'Code'"
                                        [valueField]="'CodeID'"
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>

                </label>
            </td>
            <td>
                <label class="k-form-field">
                    <span>Preferred(%) </span>
                    <kendo-numerictextbox 
                                          [(ngModel)]="quote.Preferred"                                          
                                          [value]="0" 
                                          [min]="0"
                                          [max]="100" 
                                          [autoCorrect]="false"
                                          name="preferred"
                                          placeholder="preferred %" >
                    </kendo-numerictextbox>
                  
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="k-form-field">
                    <span>Priority <span style="color:red">*</span></span>
                    <kendo-dropdownlist [(ngModel)]="quote.PriorityCd"
                                        name="Priority"
                                        [data]="priority"
                                        [textField]="'Description'"
                                        [valueField]="'CodeID'"
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </label>
            </td>
            <td>
                <label class="k-form-field">
                    <span>Memo Submitted By </span>
                    <kendo-dropdownlist [(ngModel)]="quote.MemoSubmittedByID"
                                        name="MemoSubmittedBy"
                                        [data]="technicians"
                                        [textField]="'Code'"
                                        [valueField]="'TechnicianID'"
                                       placeholder="memo submitted by" 
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                  
                </label>
            </td>
            <td>
                <label class="k-form-field">
                    <span>Memo Type </span>
                    <kendo-dropdownlist [(ngModel)]="quote.MemoTypeCd"
                                        name="MemoType"
                                        [data]="memoType"
                                        [textField]="'Description'"
                                        [valueField]="'CodeID'"
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="k-form-field">
                    <span>Work Request#  </span>
                    <input class="k-textbox"
                           [(ngModel)]="quote.WorkRequestNo"
                           name="WorkRequestNo"
                           placeholder="Work Request #"  />
                </label>
            </td>
            <td>
                <div class="form-group">
                    <label for="power">Division <span style="color:red">*</span></label>

                    <kendo-dropdownlist [(ngModel)]="quote.DivisionID"
                                        name="Division"
                                        [data]="divisions"
                                        [textField]="'Divisions'"
                                         [value]="quote.DivisionID"  
                                        [valueField]="'DivisionID'"
                                        (valueChange)="onDivisionChange($event)"
                                        [valuePrimitive]="true">
                    </kendo-dropdownlist>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="power">Margin (%)<span style="color:red">*</span></label>
                    <kendo-numerictextbox [(ngModel)]="quote.Margin"
                                          [value]="0"
                                          [min]="0"
                                          [max]="100"
                                          [autoCorrect]="false"
                                          name="Margin"
                                          placeholder="Margin (%)">
                    </kendo-numerictextbox>
                </div>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend>Forecast</legend>
        <table class="tblGeneralQuoteInfo">
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="power">Est.Close Date</label>
                            <kendo-datepicker [(ngModel)]="quote.EstimatedCloseDate"[min]="min" [value]="value" name="EstCloseDate"></kendo-datepicker>
                            <!--<p>(use Alt+↓ to open the calendar)</p>-->

                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="power">Probability (%)</label>

                            <kendo-dropdownlist [(ngModel)]="quote.ProbabilityCd"
                                                name="Probability"
                                                [data]="probability"
                                                [textField]="'Description'"
                                                [valueField]="'CodeID'"
                                                [valuePrimitive]="true">
                            </kendo-dropdownlist>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="power">Stage</label>
                            <kendo-dropdownlist [(ngModel)]="quote.StageCd"
                                                name="stage"
                                                [data]="stage"
                                                [textField]="'Description'"
                                                [valueField]="'CodeID'"
                                                [valuePrimitive]="true" >
                            </kendo-dropdownlist>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="text-right">
        <button type="submit" class="k-button k-primary" [disabled]="!createQuoteForm.valid">Submit</button>
    </div>
</form>