﻿<div class="row ">
    <div class="col-xs-12  offset-sm-3">
        <div class="card">
            <div class="card-block">
                <form class="k-form">
                    <div class="col-md-2">
                        <fieldset>                        
                            <!--<label class="k-form-field">
                                <span class="k-required">SEQ</span>
                                <input type="text" class="short" [(ngModel)]="section.SEQ" name="SEQ" value="{{section.SEQ}}" contenteditable="false" />
                            </label>-->
                            <br />
                            <div class="k-form-field">
                                <input type="checkbox" id="PreferredOption" name="PreferredOption" [(ngModel)]="section.PreferredOption"  class="k-checkbox" checked />
                                <label class="k-checkbox-label" for="ch1">PreferredOption</label>
                            </div>
                            <label class="k-form-field">
                                <span>Section </span>
                                <input class="k-textbox" name="SectionTitle" [(ngModel)]="section.Title" placeholder="Section Title" />
                            </label>
                            <label class="k-form-field">
                                <span>Equipment <span class="k-required">*</span></span>
                                <kendo-combobox [data]="equipments"
                                                [(ngModel)]="section.Equipment"
                                                [allowCustom]="true"
                                                [popupSettings]="{ width: 'auto' }"
                                                [valuePrimitive]="true"
                                                name="equipments">
                                   
                                </kendo-combobox>
                               
                            </label>
                        </fieldset>
                    </div>
                    <div class="col-md-10">
                        <label class="k-form-field">
                            <span>Description<span class="k-field-info">optional</span></span>
                            <ckeditor [(ngModel)]="section.Description"
                                      [config]="txtEditorConfig"
                                      (change)="onChange($event)"
                                      (ready)="onReady($event)"
                                      (focus)="onFocus($event)"
                                      (blur)="onBlur($event)"
                                      debounce="500" name="description">
                            </ckeditor>
                        </label>
                    </div>
                    
                    <div class="text-left">
                        <button class="k-button">Cancel</button>
                        <button class="k-button k-primary" (click)="onClick($event)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>